/ProyectoFinal_Server/build/
/ProyectoFinalDatos2_server/build/
/ProyectoFinalDatos2_server/nbproject/private/
/ProyectoFinalDatos2_cliente/nbproject/private/
/ProyectoFinalDatos2_cliente/build/
/ProyectoFinalDatos2_server/dist/