/ProyectoFinal_Server/build/
/ProyectoFinalDatos2_server/build/
/ProyectoFinalDatos2_server/nbproject/private/
/ProyectoFinalDatos2_cliente/nbproject/private/
/ProyectoFinalDatos2_cliente/build/
/ProyectoFinalDatos2_server/dist/
/ProyectoFinalDatos2_cliente/dist/
/me.Chat_JaiderOlivella_LuisFuentes_Servidor/build/
/me.Chat_JaiderOlivella_LuisFuentes_Servidor/dist/
/me.Chat_JaiderOlivella_LuisFuentes_Cliente/build/
/me.Chat_JaiderOlivella_LuisFuentes_Cliente/dist/